<h2>View Page </h2>
<p>Json view of the page</p>

<div class="row">
  <div class="col-md-12" id="jsoneditor-container">

    {{json-editor-for model mode='code'  }}
    <br>
    {{link-to 'Page List' 'pages.index' class="btn btn-primary"}}
  </div>
</div>
