<div class="container">
  <div class="col-md-8">
    <h2>Ember Data ArcGIS Open Data</h2>
    <p>This project contains models, adapters and serializers that enable
    developers to use Ember-Data to access the ArcGIS Open Data API</p>
    <p>This application presents simple CRUD interfaces for interacting with the backing API. </p>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Models</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">{{link-to "Pages" "pages"}}</li>
          <li class="list-group-item">Datasets</li>
          <li class="list-group-item">Sites</li>
          <li class="list-group-item">People</li>
          <li class="list-group-item">Sites</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{outlet}}
