<div class="container">
  <div class="col-sm-6">
    <h2>ArcGIS Ember Addons Login</h2>
    <p>In order to work with some parts of the ArcGIS Open Data API, you need
    to be authenticated. Please press the button below to open the ArcGIS OAuth pop-up.</p>
    <button class="btn btn-primary" type="button" {{action 'signin'}}>Show Sign In</button>
  </div>
</div>
{{outlet}}
